extends:
  - airbnb
  - airbnb/hooks
  - prettier
  - prettier/react
  - plugin:@typescript-eslint/recommended
plugins:
  - prettier
parser: '@typescript-eslint/parser'
rules:
  prettier/prettier: error
  # enforced by typescript
  no-undef: off
  no-unused-vars: off
  import/no-unresolved: off
  react/jsx-filename-extension: off
  react/prop-types: off
  import/extensions: off
