{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "no-undef": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/jsx-no-undef": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
