*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: papayawhip;
  font-family: monospace;
  margin: 0px;
  padding: 10px;
}

a,
a:visited {
  color: #0000ee;
}

.root {
  width: 100%;
  display: flex;
  justify-content: center;
}
