*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: papayawhip;
  font-family: monospace;
  margin: 0px;
  padding: 10px;
}

a,
a:visited {
  color: #0000ee;
}

.root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spinner {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
